@-webkit-viewport {width: device-width}
@-moz-viewport {width: device-width}
@-ms-viewport {width: device-width}
@-o-viewport {width: device-width}
@viewport {width: device-width};

* {
	max-width: 100%;
	outline: none !important;
	@include box-sizing(border-box);
}

html, body {
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
}
body {
	font-size: 14px;
	@media screen and (min-width: 993px) {
		font-size: 16px;
	}
}

a {
	text-decoration: none;
}
p a {
	@include transition(color 0.15s ease-in-out);
}

.mobile_only {
	display: initial;
	&.block { display: block; }
	@media screen and (min-width: 768px) {
		display: none;
		&.block { display: none; }
	}
}

.non_mobile {
	display: none;
	&.block { display: none; }
	@media screen and (min-width: 768px) {
		display: initial;
		&.block { display: block; }
	}
}